.artist-summary {
    display: flex;
    justify-content: center;
}

.artist-summary-details {
    text-align: end;
}

.top-track {
    display: flex;
    justify-content: space-between;
}

.top-track_container {
    display: flex;
}