i {
    font-size: 30px;
    margin-right: 10px;
}

.artist-summary {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.artist-summary-details {
    text-align: end;
}

.circle-image {
    border-radius: 50%;
    margin-right: 20px;
    height: 250px;
    width: 250px;
}

.audio-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.album-image {
    margin-right: 20px;
}

.top-track {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-track_container {
    display: flex;
}