i {
  font-size: 30px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.artist-summary {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.artist-summary-details {
  text-align: end;
}

.circle-image {
  width: 100%;
  height: auto;
}

.circle-image-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
}

.audio-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.album-image {
  margin-right: 20px;
}

.track-title:hover {
  text-decoration: underline;
}

.top-track {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 0;
  
}

.top-track_container {
  display: flex;
  align-items: center;
}

.track-time {
    margin-right: 20px;
}

.track-title {
  margin-right: 20px;
}