.search {
    display: flex;
    align-items: center;
}

.search-button {
    background-color: #121212;
    border: none;
    color: #fff;
}


i {
    color: #D3D3D3;
    font-size: 20px !important;
}
